<h1 class="page-title">Entry Show Page</h1>

<div class="entry-section">
  <h2>Date:</h2>
  <div class="goal-date"><%= @entry.date %></div>
</div>

<div class="entry-section">
  <h2>Goals:</h2>
  <ul class="goal-list">
  <% @entry.goals.each do |goal| %>
    <% goal_id = "goal-#{goal.id}" %>
    <li class="goal-summary" >
      <label class="goal-checkbox-label">
        <%= check_box_tag goal_id, true, goal.completed,
          class: "goal-checkbox-input", data: { goal_id: goal.id }  %>
        <div class="goal-checkbox-content"><%= goal.description %></div>
      </label>
   </li>
  <% end %>
  </ul>
</div>

<div class="entry-section">
  <h2>Notes:</h2>
  <%= render "note_form", note: @note, entry: @entry %>
</div>

<% if @entry.user == current_user %>
  <div class="entry-section">
    <div class="mutation-buttons-container">
      <a class="button" href="<%= edit_entry_path(@entry)%>">Edit Entry</a>
      <%= button_to("Delete Entry", { action: "destroy", id: @entry.id },
                    method: "delete", 
                    data: { confirm: "Are you sure?", 
                            disable_with: "loading..."}) %>
    </div>
  </div>
<% end %>
